<div style="margin-right: 15px; margin-top: 100px">
  <div class="page-wrapper">
    <div class="page-container2">


      <div id="orderDIV">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
                <div class="card-header bg-info" style="font-weight: bold">Customer Details</div>
                <div class="card-body">

                  <form #frmcustomer="ngForm" >

                    <label class="lbl">Customer</label>
                    &nbsp;
                    <select class="styleSelect" id="cmbCustomer" (change)="searchCustomer($event)">
                      <option value="">Select CustomerID</option>
                      <option *ngFor="let customer of customerList">{{customer.cid}}</option>
                    </select>

                    <div class="form-group">
                      <label class="lbl">Name</label>
                      <input type="text" id="txtID" class="form-control" name="name" [(ngModel)]="selectedcustomernew.name">
                    </div>

                    <div class="form-group">
                      <label class="lbl">Address</label>
                      <input type="text" id="txtAdd" class="form-control" name="addrss" [(ngModel)]="selectedcustomernew.address">
                    </div>

                    <div class="form-group">
                      <label class="lbl">ContactNo</label>
                      <input type="text" id="txtcontact" class="form-control" name="contact" [(ngModel)]="selectedcustomernew.contactno">
                    </div>

                  </form>
                </div>

              </div>
            </div>


            <div class="col-xl-6">

              <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
                <div class="card-header bg-info" style="font-weight: bold">Item Selection</div>
                <div class="card-body">

                  <form #frmItem="ngForm">

                    <label class="lbl">FruitItem</label>
                    <select class="styleSelect" id="cmbItem" style="width: 100%;" (change)="searchItem($event)">
                      <option value="">Select ItemCode</option>
                      <option *ngFor="let item of itemList">{{item.itemcode}}</option>
                    </select>

                    <div class="form-group">
                      <label class="lbl">Item Description</label>
                      <input type="text" [(ngModel)]="selecteditemnew.description" name="description" class="form-control" id="cusdesc" placeholder="Input Description">
                    </div>

                    <div class="form-group">
                      <label class="lbl">Price</label>
                      <input type="text" [(ngModel)]="selecteditemnew.unitprice" name="unitprice" class="form-control" id="cusprice" placeholder="Input Item UnitPrice">
                    </div>

                    <div class="form-group">
                      <label class="lbl">QTY</label>
                      <input type="text" [(ngModel)]="selecteditemnew.qtyonhand" name="qtyhand" class="form-control" id="cusqty" placeholder="Input QtyonStock">
                    </div>


                    <hr>
                    <label class="lbl" style="font-weight: bold">Order Item</label>
                    <hr>
                    <div class="form-group">
                      <label class="lbl">Order QTY</label>
                      <input id="txtOQTY" type="text" class="form-control">
                    </div>

                  </form>
                </div>

              </div>
            </div>


            <div class="col-xl-6">
              <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
                <div class="card-header bg-info" style="font-weight: bold">Invoice Detail</div>
                <div class="card-body">

                  <form #frmOrders="ngForm">

                    <!--<div class="form-group">-->
                      <!--<label class="lbl">Customer</label>-->
                      <!--<input id="txtcName" type="text" class="form-control" placeholder="Input Customer name" [(ngModel)]="selectedcustomernew.name">-->
                    <!--</div>-->
                    <div class="form-group">
                      <label class="lbl">Date</label>
                      <input type="text" class="form-control" placeholder="Input Date" name="Date">
                    </div>
                    <div class="form-group">
                      <label class="lbl">Order ID</label>
                      <input id="txtOrderID" type="text" class="form-control" placeholder="Input OID" name="OID">
                    </div>
                    <button id="btnorderdt" type="button" class="btn btn-success">Submit Order</button>
                  </form>

                </div>
              </div>
            </div>




          </div>
        </div>




        <div id="tbl">
          <table class="table table-hover table-bordered">
            <thead class="bg-info">
            <tr>
              <th>ODID</th>
              <th>Description</th>
              <th>Unit Price</th>
              <th>Order QTY</th>
            </tr>
            </thead>
            <tbody id="tblOrder">
            </tbody>
          </table>

          <br>
          <section class="content-box-2">
            <span id="total-text">Total :Rs 00.00/=</span>
            <br><br>
           </section>
          <!--<section id="order-last-buttons">-->
          <!--<button type="button" class="btn btn-primary">Clear</button>-->
          <!--&nbsp;-->
          <!--<button type="button" class="btn btn-secondary">Renew Order</button>-->
          <!--</section>-->

        </div>

      </div>

    </div>
  </div>
</div>
