<div style="margin-right: 15px; margin-top: 20px">
  <body class="animsition">
  <!--<div class="page-wrapper">-->

  <div class="page-container2">
    <div id="DashbordDIV">

      <section style="margin-right: 250px;width: 100%" class="au-breadcrumb m-t-75" >
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10">
                <div class="au-breadcrumb-content">
                  <div class="au-breadcrumb-left">
                    <span class="au-breadcrumb-span">You are in Dash Board:</span>
                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                      <li class="list-inline-item active">
                        <a href="#">Home</a>
                      </li>
                      <li class="list-inline-item seprate">
                        <span>/</span>
                      </li>
                      <li class="list-inline-item">Dashboard</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- STATISTIC-->
      <section class="statistic">
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">
                  <h2 class="number" style="color: #1b1b1b">400</h2>
                  <span class="desc" style="color: #1b1b1b" >Customers</span>
                  <div class="icon">
                    <i class="zmdi zmdi-account-o"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                  <h2 class="number" style="color: #1b1b1b">500</h2>
                  <span class="desc" style="color: #1b1b1b">Fruit Items</span>
                  <div class="icon">
                    <i class="zmdi zmdi-shopping-cart"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--blue">
                  <h2 class="number" style="color: #1b1b1b">25</h2>
                  <span class="desc" style="color: #1b1b1b">Suppliers</span>
                  <div class="icon">
                    <i class="zmdi zmdi-calendar-note"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--red">
                  <h2 class="number" style="color: #1b1b1b">RS. 50 000</h2>
                  <span class="desc" style="color: #1b1b1b">Total Income</span>
                  <div class="icon">
                    <i class="zmdi zmdi-money"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END STATISTIC-->

    </div>

    <!--</div>-->

  </div>
  </body>
</div>
